.container { 
  background: #a4f4ff;
  width: 800px;
  margin-left: 250px;
  height: 100%;
}

.header {
  display: flex;
  height: 75px;
  justify-content: space-between;
  width: 750px;
  padding-top: 20px;
  padding-left: 20px; 
}

.title {
  display: flex;
  justify-content: flex-start;
  color: #808080;
  font-size: 36px;
  padding-top: 5px;
  width: 70%;
}

#toggle {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    margin-left: 10px;
    padding: 10px 20px;
    text-decoration: none;
    height: 20px;
    cursor: pointer;
    width: auto;
}

#toggle:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.rec {
  text-align: right;
  height: auto;
}

.rec-text {
  background-color: white;
  visibility: hidden;
  color: #5a5a5a;
  font-size: 14px;
  margin-top: 5px;
  height: auto;
  white-space: pre;
}

.rec-img {
  cursor: pointer;
  height: 50px;
  width: 50px;
  vertical-align: middle;
}

.rec:hover .rec-text {
  visibility: visible;
}

#icon-container {
  background: #defbff;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 100%;
}

.icon {
  position: relative;
  margin: 20px;
}

.icon img, div {
  height: 150px;
  width: 150px;
}

.icon img {
  background: white;
  border-radius: 50%;
}

.text {
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
}

.visits-text {
  height: 50%;
  width: 50%;
  visibility: hidden;
}

.name {
  text-align: center;
}

.icon:hover img {
  transition: opacity .12s ease-in-out; 
  opacity: 0.5;
}

.icon:hover .visits-text {
  color: black;
  cursor: pointer;
  flex-grow: none;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  visibility: visible;
}

.next {
   color: #bebebe;
   font-size: 18px;
   padding-top: 15px;
   text-align: center;
   width: 100%;
}
