input {
  border-radius: 5px;
}

button {
    border: none;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    margin-left: 10px;
    padding: 10px 20px;
    text-decoration: none;
    height: 20px;
    cursor: pointer;
    width: auto;
}

button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.container {
    background: #a4f4ff;
    width: 800px;
    margin-left: 250px;
    height: 100%;
}

.header {
    display: flex;
    height: auto;
    justify-content: space-between;
    width: 750px;
    padding: 20px 0 20px 20px;
}

#title {
    color: #808080;
    font-size: 36px;
    padding-top: 5px;
    width: 80%;
}

#title > span {
    color: #7fc2cc;
}

.back-button {
  height: 32px;
  margin: 10px;
}

h2 {
  font-size: 26px;
  color: #808080;
  padding-top: 20px;
}

.list-container {
  background: #defbff;
  padding: 10px 0;
  width: 100%;
}

.search-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.search-container div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#search-text {
  height: 32px;
  font-size: 28px;
}

#search-button {
  height: 32px;
}

#pages-list {
  margin: 0 auto;
  width: 710px;
}

.page {
  font-size: 15px;
  margin: 15px 0;
  width: 650px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page a {
  text-decoration: none;
}

.page:before {
    content: "\2610";
    color: gray;
    margin-right: 5px;
}
