.container {
    background: #a4f4ff;
    width: 800px;
    margin-left: 250px;
    height: 100%;
}

.header {
    display: flex;
    height: auto;
    justify-content: space-between;
    width: 750px;
    padding: 20px 0 20px 20px;
}

#title {
    color: #808080;
    font-size: 36px;
    padding-top: 5px;
    width: 80%;
}

#title > span {
    color: #7fc2cc;
}

.back-button {
  height: 26px;
  margin: 10px;
}

h2 {
  font-size: 26px;
  color: #808080;
  padding-top: 20px;
}

.list-container {
  background: #defbff;
  padding: 10px 0;
  width: 100%;
}

#pages-list {
  margin: 0 auto;
  width: 710px;
}

.page {
  font-size: 15px;
  margin: 15px 0;
  width: 650px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page a {
  text-decoration: none;
}

.page:before {
    content: "\2610";
    color: gray;
    margin-right: 5px;
}
