.container { 
    background: #a4f4ff;
    width: 800px;
    margin-left: 250px;
    height: 100%;
}

.header {
    display: flex;
    height: 75px;
    justify-content: space-between;
    width: 750px;
    padding-top: 20px;
    padding-left: 20px;
}

.title {
    color: #808080;
    font-size: 36px;
    padding-top: 5px;
    width: 60%;
    height: 50px;
}

.top-sites {
  border-radius: 5px;
  border: 2px solid black;
  font-size: 36px;
  height: 45px;
  padding: 3px;
}

.top-sites a:link, a:visited {
  color: black;
  text-decoration: none;
}

.list-container {
   background: #defbff;
}

.list {
   border-bottom: 2px solid #a4f4ff;
   padding: 10px 20px;
   margin: 5px 0;
}

.list-title {
   padding-left: 10px;
   padding-bottom: 10px;
   font-size: 30px;
   color: #bebebe;
}

.page-list {
   display: flex;
}

.page {
   margin: 0 10px;
}

.page img {
   height: 32px;
   width: auto;
}

.content {
   background-color: #EBFFFF; 
   visibility: collapse;
   position: absolute;
   left: 287px;
   width: 600px;
   padding: 5px 10px;
}


.page img:hover {
   border: 5px solid #ebffff;
}

.page:hover .content {
   visibility: visible;
}

.page:hover {
   height: 110px;
}


